body {
  background-color: #776a87;
  color: #fcf6f0;
}

h1 {
  color: #433159;
}

h1:hover {
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

p {
  border: 2px dotted #530F41;
  padding: 10px;
}
