$deep-purple: #530F41;
$gray-grape: #433159;
$dusty-purple: #776a87;
$cream: #fcf6f0;

body {
  background-color: $dusty-purple;
  color: $cream;
}

h1 {
  color: $gray-grape;
}

h1:hover {
  transition: color 1s ease;
}

p {
  border: 2px dotted $deep-purple;
  padding: 10px;
}
